#container {
	font-family: "Chaparral Pro";
	font-style: normal;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
#head {
	background-image: url('images/1050.png');
	height: 100px;
}
#menu {
	height: 30px;
	background-color: #D2D2D2;
	background-image: url('images/5013.png');
	position: fixed;
	width: 800px;
}
